///// ----- My var ----- /////
$square : 50px;
$childSize : 50px;
$blue : #2c2e7d;
$red : #e22b26;
///////////////////////////////


body {
    color: #ffffff;
    opacity: 0.8;
}


.line{
    width: 100%;
    height: $square;
    //background: #8bc34a;
    display: flex;
    justify-content: center;
    .square{
        border: 1px solid #85bb46;
        width: $square;
        height: $square;
        background:#8bc34a;
        display: inline-block;
        z-index: 300;
        .obstacle{
            background-size: cover;
            height: $childSize ;
            z-index: 2;
        }
        
        .player{
            background-size: cover;
            height: $childSize;
            z-index: 500;
        }
        .weapon{
            background-size: cover;
            height: $childSize;
            z-index: 100;
        }
    }
}

.avatar{
    #blueAvatar{
        width: 75px;
        height: 75px;
        border-radius: 5px;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.8);
        background-image: url(../img/png/blueAvatar.png);
        background-color: $blue;
        background-size: cover;
    } 
}

#healthAndWeaponBluePlayer {
    #bluePlayerWeapon{
        width: 48px;
        height: 48px;
        margin-top: 5px;
        border-radius: 5px;
        background-image: url(../img/png/weapon_epeeBois.png);
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        background-size: cover;
    }
}

.avatar{
    #redAvatar{
        width: 75px;
        height: 75px;
        border-radius: 5px;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.8);
        background-image: url(../img/png/redAvatar.png);
        background-color: $red;
        background-size: cover;
    } 
}

#healthAndWeaponRedPlayer {
    #redPlayerWeapon{
        width: 48px;
        height: 48px;
        margin-top: 5px;
        border-radius: 5px;
        background-image: url(../img/png/weapon_epeeBois.png);
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        background-size: cover;
    }
}