.square{
    border: 1px solid lightgray;
    width: 10%;
    height: 100%;
    background: grey;
    display: inline-block;
};

.line{
    width: 100%;
    height: 30%;
    background: rgb(152, 99, 202);
};