.square{
    border: 1px solid lightgray;
    width: 10%;
    height: 100%;
    background: grey;
    display: block;
    margin: 0;
};

.line{
    width: 100%;
    height: 70px;
    //background: blueviolet;
};