
///// ----- My var ----- /////
$square : 50px;
$squareSmall:30px;
$childSize : 50px;
$blue : #2c2e7d;
$red : #e22b26;

///////////////////////////////



body {
    color: rgba($color: #ffffff, $alpha: 0.8);
}

.modal {
    color: rgba($color: #000000, $alpha: 0.8);
}

img#logo {
    width:330px;
    height: 50px;
}

.line{
    width: 100%;
    height: $square;
    //background: #8bc34a;
    display: flex;
    justify-content: center;
    .square{
        border: 1px solid #85bb46;
        width: $square;
        height: $square;
        background:#8bc34a;
        display: inline-block;
        z-index: 300;
        .obstacle{
            background-size: cover;
            height: $childSize ;
            z-index: 2;
        }
        
        .player{
            background-size: cover;
            height: $childSize;
            z-index: 500;
        }
        .weapon{
            background-size: cover;
            height: $childSize;
            z-index: 100;
        }
    }
}




.pvLabel {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    color: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    line-height: 48px;
    font-size: 0.8rem;
    font-family: 'Luckiest Guy', cursive;
}

#blueAvatar{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    border: 2px solid rgba($color: #ffffff, $alpha: 0.8);
    background-image: url(../img/png/blueAvatar.png);
    background-color: $blue;
    background-size: cover;
    margin-right: 0px;
    margin-left: auto;
} 

#healthAndWeaponBluePlayer {
    #bluePlayerWeapon{
        width: 48px;
        height: 48px;
        margin-top: 5px;
        border-radius: 5px;
        background-image: url(../img/png/weapon_epeeBois.png);
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        background-size: cover;
    }
}


    #redAvatar{
        margin-right: 0px;
        margin-left: auto;
        width: 75px;
        height: 75px;
        border-radius: 5px;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.8);
        background-image: url(../img/png/redAvatar.png);
        background-color: $red;
        background-size: cover;
    } 


#healthAndWeaponRedPlayer {
    #redPlayerWeapon{
        width: 48px;
        height: 48px;
        margin-top: 5px;
        border-radius: 5px;
        background-image: url(../img/png/weapon_epeeBois.png);
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        background-size: cover;
    }
}